body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 20px;
}

.about-text {
    flex: 1;
    margin-right: 20px;
    text-align: left;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 1rem;
    color: #333;
    text-align: left;
}

.about-content img {
    max-width: 300px;
    height: 100%;
    border-radius: 10px;
}

.slogan {
    font-weight: bold;
}